body {
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

h1 {
  display: block;
 }

p {
  font-size: 20px;
  opacity: 0.5;
}

a {
  color: aqua;
  font-size: 15px;
}
